windowcontrols,
headerbar.default-decoration windowcontrols {
  margin: 8px;

  > button {
    margin: 1px;
    padding: 0;
    min-height: 0;
    min-width: 0;

    > image {
      min-height: 18px;
      min-width: 18px;
      padding: 0;
      background-color: #{"mix(shade(@headerbar_bg_color, 1.5), white, .1)"};
      background-image: -gtk-scaled(url('assets/titlebutton.png'), url('assets/titlebutton@2.png'));
      background-repeat: no-repeat;
      background-position: center;
      box-shadow: inset 0 0 0 1px transparentize(black, if($variant=='light', .8, .1));
      color: transparent;
      transition: all .2s;
    }

    &.close > image {
      background-color: #{"@accent_bg_color"};
      box-shadow: inset 0 0 0 transparent;

      @if $variant == 'light' {
        background-image: -gtk-scaled(url('assets/close-white.png'), url('assets/close-white@2.png'));
      } @else {
        background-image: -gtk-scaled(url('assets/close-black.png'), url('assets/close-black@2.png'));
      }
    }

    &:hover {
      &, &.minimize, &.maximize, &.close {
        > image {
          box-shadow: 0 0 0 1px transparentize(black, if($variant=='light', .9, 0));
        }
      }

      &.minimize > image {
        background-image: -gtk-scaled(url('assets/minimize-#{$variant}.png'), url('assets/minimize-#{$variant}@2.png'));
      }
      &.maximize > image {
        background-image: -gtk-scaled(url('assets/maximize-#{$variant}.png'), url('assets/maximize-#{$variant}@2.png'));
      }
      &.close > image {
        @if $variant == 'light' {
          background-image: -gtk-scaled(url('assets/close-black.png'), url('assets/close-black@2.png'));
        } @else {
          background-image: -gtk-scaled(url('assets/close-white.png'), url('assets/close-white@2.png'));
        }
      }
    }

    &:backdrop,
    &:backdrop:hover {
      &.maximize image, &.minimize image, &.close image {
        background-color: #{"mix(@headerbar_backdrop_color, black, #{if($variant=='light', .35, 1)})"};
        background-image: -gtk-scaled(url('assets/titlebutton.png'), url('assets/titlebutton@2.png'));
        box-shadow: inset 0 0 0 1px transparentize(black, if($variant=='light', .9, 0));
      }
    }
  }
}

window .sidebar-pane headerbar > windowhandle {
  background-image: none;
}

headerbar.default-decoration {
  min-height: 38px;
  > windowhandle {  background-position: 0 -11px; }
}
